
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
body {
    background-image: url('/images/bgticket.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }*/

  .swal2-timer-progress-bar {
    background-color: #ff6347 !important; /* Cambia #ff6347 por el color que desees */
}